body {background-color: black;}
h1 {
    color: blueviolet;
}
h2 {
    color: blueviolet;
}
button {
    color: red;
    border-radius: 2px;
    border-color: grey;
    background-color: darkslategrey;
}
button:hover {
    background-color: darkgray;
}
a {
    text-decoration: none;
    color: blueviolet;
}
a:hover {
    color: red;
}